body {
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: var(--tg--theme-text-color);
    background: var(--tg--theme-bg-color);
    font-family: Arial, sans-serif;
    align-items: center;
    height: 200vh;
}

.container {
    max-width: 490px;
    border: 2px solid #ddd;
    height: 1250px;
    border-radius: 40px;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 250px 250px 22% 22%;
}

.img {
    margin: 10px 0;
    width: 110px;
    height: auto;
}

.item {
    text-align: center;

}

.item p {
    margin: 7px 0;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 700;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    background: rgb(248, 168, 24);
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    transition: background 0.2s linear;
    cursor: pointer
}

.btn:hover {
    background: lightgreen;
}

.usercard {
    text-align: center;
}



#osoby_p {
    transform:translateY(7px)
}

#btn4 {
    transform:translateY(7px)
}


#btn6 {
    transform:translateY(-25px)
}

#osoby_p2 {
    transform:translateY(-25px)
}

#osoby_foto {
    transform:translateY(-15px)
}
